body {
    background-color: #f5d7a1;
    font-family: "MD개성체", sans-serif;
    font-size: 1.2em;
    color: blue;
}
h1 {
    text-align: center;
    font-family: "굴림";
    color: green;
}
h2 {
    text-shadow: 2px 2px 5px red;
    color: black;
}
li{
    color: darkblue;
    background-color: #cce5ff;
    margin-bottom: 2px;;
}
a:link {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}